@size-image: ~"calc( 25px + (50 - 25) * (100vw - 320px) / (1920 - 320))";
@vertical-image: ~"calc( 0px + (-50 + 0) * (100vw - 320px) / (1920 - 320))";
@horizontal-image: ~"calc( -12px + (-32 + 12) * (100vw - 320px) / (1920 - 320))";

.conceptContainer {  
	position: relative;
	margin: auto;
	opacity: 0;
	animation: displayOpacity 1s @conceptAnimationDelay forwards;

	&:before, &:after {
		position: absolute;
		width: @size-image;
		height: @size-image;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	&:before {   
		content: "";
		top: @vertical-image;
		left: @horizontal-image;
		background-image: url("./../image/openQuote.png");
	}

	&:after {
		content: "";
		bottom: @vertical-image;
		right: @horizontal-image;
		background-image: url("./../image/closeQuote.png");
	}
}