@button-position-bottom: ~"calc( 15px + (25 - 15) * (100vw - 320px) / (1920 - 320))";
@button-position-right: ~"calc( 20px + (50 - 20) * (100vw - 320px) / (1920 - 320))";

.exemples{
	&Container {
		opacity: 0;
		animation: displayOpacity 1s @exempleAnimationDelay forwards;
		transform: background-color .3s ease-in-out;
	}

	&_link {
		color: @greyDark;
		text-decoration: none;
		cursor: pointer;
		transition: color .3s ease-in-out;

		&:hover {
			color: @colorRed;
		}
	}

	&_image {
		width: 600px;
		max-width: 100%;
    	height: 300px;
    	max-height: 100%;
    	margin: auto;
    	margin-top: 20px;
		background-image: url("./../image/screen-cotedazurphoto.png");
		cursor: pointer;
		transition: transform 0.3s ease-in-out;

		&:hover {
			transform: scale(1.05);
		}
	}
	
	&_mainText {
		position: relative;
		width: 100%;
		height: auto;
		padding: 2rem;
		padding-bottom: 90px;
		background-color: white;
		box-shadow: rgba(0, 0, 0, 0.5) 0 1px 5px 0;
	}

	&_button {
		position: absolute;
		bottom: @button-position-bottom;
		right: @button-position-right;
		border: none;
		box-shadow: rgba(0, 0, 0, 0.5) 0 1px 5px 0;
		border-radius: 2px;
		background-color: white;
		padding: .5rem 2rem;
		cursor: pointer;
		transition: color .3s ease-in-out, background-color .3s ease-in-out, box-shadow .3s ease-in-out;

		&:focus {
			outline:0;
		}

		&:active {
			outline:0;
			box-shadow: rgba(0, 0, 0, 0.8) 0 1px 8px 0;
		}

		&--active {
			color: @colorRed;
		}
	}

	&_more {
		display: none;
		width: 99%;
		height: auto;
		margin: auto;
		padding: 2rem;
		color: white;
		background-color: @greyDark;
		z-index: 1;   

	}
}

@media screen and (min-width: 1025px) {   
	.exemples_button:hover {
		color: @colorRed;
	}
}
