@width-logo: ~"calc( 280px + (700 - 280) * (100vw - 320px) / (1920 - 320))";
@height-logo: ~"calc( 70px + (150 - 70) * (100vw - 320px) / (1920 - 320))";

.tvContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	animation: shutdown .55s @introAnimationDelay cubic-bezier(0.230, 1.000, 0.320, 1.000);
	animation-fill-mode: forwards;
	z-index: 5;	

	&:before {
		position: absolute;
		content: '';
		top:    0;
		right:  0;
		bottom: 0;
		left:   0;
	    // need this for intro
	    z-index: 999999;
	    animation: bg-move 2s linear infinite;
	    background-size: 100% 8px;
	    background-image: linear-gradient(0, rgba(255,255,255,.05) 10%, transparent 10%, transparent 50%, rgba(255,255,255,.05) 50%, rgba(255,255,255,.05) 60%, transparent 60%, transparent);
	}
}

.intro{
	&Container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&_canvas {
		width: @width-logo;
		height: @height-logo;
	}
}
