<div class="messageContainer">
	<div class="message_text">
		<div class="message_mask">
			<div class="message_writter"></div>
		</div>
		<h1>Welcome to the WarZone, here you have your full custom website administrator.</h1>
	</div>
</div>
<div class="conceptContainer section_text">
	<p>Hello, here you are in my world - called the War Zone. You could find on this website a little piece of my expertise and what I'm able to create and produce.</p>
	<p>My name is Romain but I'm used to be called War by my friends. I'm full stack Web developper but my real passion is the front end and graphical developpement.</p>
	<p>That's why I thought about going by my own and offer a real custom experience for my customers. A real mix between efficiency, creativity and viewing pleasure.</p>							
</div>