<div class="processContainer">
	<h1 class="section_title">Process</h1>
	<div class="process_icons">
		<div id="js_production" class="process_icon-container process_icon-container--active">
			<i class="material-icons process_icon">extension</i>
			<div class="process_text">Production</div>
		</div>
		<div id="js_realisation" class="process_icon-container">
			<i class="material-icons process_icon">important_devices</i>
			<div class="process_text">Realisation</div>
		</div>
		<div id="js_customer" class="process_icon-container">
			<i class="material-icons process_icon">record_voice_over</i>
			<div class="process_text">Customer care</div>
		</div>
	</div>
	<div class="process_descriptions">
		<div class="process_description process_description-production section_text">
			<p>I am self-taught so the entire production part is in my hands. From the creation of models, icons, through the UX and UI experience and obviously the establishment of the online site.<p>
		</div>
		<div class="process_description process_description-realisation section_text">
			<p>Each creation is unique and made from scratch to build something that really looks like what you want!</p>
			<p>Customization is the key, no one wants to have something similar to their neighbor. By using my services, you make sure you have a rendering that meets your expectations in an original way and done with passion.</p>
		</div>
		<div class="process_description process_description-customer section_text">
			<p>One of the most important things is to take your ideas into account, and above all to know how to support you throughout the creation and development process. And use your feedbacks to improve on each iteration.</p>
		</div>
	</div>
</div>