<div class="responsiveContainer">
	<h1 class="section_title">Full responsive design</h1>
	<div class="responsive--desktop responsive_desktop scrollme">
		<div 	class="responsive_tablet responsive_animation animateme"
				data-when="enter"
				data-from="0.6"
				data-to="0"
				data-opacity="0"
				data-easing="easeinout"
				data-translatex="-200">
		</div>
		<div 	class="responsive_mobile responsive_animation animateme"
				data-when="enter"
				data-from="0.6"
				data-to="0"
				data-opacity="0"
				data-easing="easeinout"
				data-translatex="200">
		</div>
	</div>
	<div class="responsive--mobile">
		<div class="responsive_devices"></div>
	</div>
	<div class="responsive_text section_text">
		Our world is every time in movement, that's why we have to visit websites created for our needs. For an usage on every devices with the same quality of rendering. Please resize or use it on some different devices to check.
	</div>
</div>